@use "./base.scss";

.transclude h1{
	display: none; 
}

.callout {
    --callout-icon-theorem: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sigma"><path d="M18 7V5a1 1 0 0 0-1-1H6.5a.5.5 0 0 0-.4.8l4.5 6a2 2 0 0 1 0 2.4l-4.5 6a.5.5 0 0 0 .4.8H17a1 1 0 0 0 1-1v-2"/></svg>');

    &[data-callout="theorem"] {
        --color: #00d495;
        --border: #00d49544;
        --bg: #00b0ff10;
        --callout-icon: var(--callout-icon-theorem);
      }
}

@media print {

    /* Remove backgrounds */
    body,
    section {
        background: none !important;
    }

    /* Hide left and right sidebars */
    .sidebar.left,
    .sidebar.right {
        display: none !important;
    }

    /* Hide footer */
    footer {
        display: none !important;
    }

    .breadcrumb-container {
        display: none !important;
    }

    .giscus {
        display: none !important;
    }

    .content-meta {
        display: none !important;
    }

    h2 {
        page-break-before: always;
        /* Start on a new page */
    }

    blockquote * {
        break-inside: avoid;
        page-break-inside: avoid;
        /* For some older browsers */
        -webkit-column-break-inside: avoid;
    }

    .katex {
        break-inside: avoid;
        page-break-inside: avoid;
        /* For some older browsers */
        -webkit-column-break-inside: avoid;
    }

    ul,
    ol {
        break-inside: avoid;
        page-break-inside: avoid;
        /* For some older browsers */
        -webkit-column-break-inside: avoid;
    }
}

@media print {
    .callout {
        max-height: none !important; // Ensure no content is hidden
        overflow-y: visible !important; // Allow content to flow outside normally hidden areas
    }

    .callout.is-collapsed .fold-callout-icon {
        transform: none !important; // Ensure any collapsed icons are not rotated for print
    }
}